[telegram]
api_id = xxxxxxxx
api_hash = yyyyyyyyyyyyyyyyyyyyyyyyy

[settings]
delete_own_messages = false

# empty = all chats
# example: -1001234567890,123456789
target_chats = 

[log]
enable_logs = true
log_file = telegram_sticker_cleaner.log
